<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Basic Calculator</title>
    </HEAD>
    <body>
        <h1 align=center>Welcome to a Basic Calculator<p>Using Routes!</p></h1>
        <p>Instructions:</p>
        <p>Where 'num1' and 'num2' are where you input numbers</p>
        <ul>
            <li>Addition: add "/add/'num1'/'num2' " in the existing URL</li>
            <li>Subtraction: add "/sub/'num1'/'num2' " in the existing URL</li>
            <li>Multiplication: add "/mult/'num1'/'num2' " in the existing URL</li>
            <li>Division: add "/divd/'num1'/'num2' " in the existing URL</li>
        </ul>
    </body>
</HTML>