<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>Basic Calculator</title>
    </HEAD>
    <body>
        <h1 align=center>Welcome to a Basic Calculator<br>Using Routes!</br></h1>
        <p>Instructions:</p>
        <p>Where 'num1' and 'num2' are where you input integers</p>
        <ul>
            <li>Addition: add "/add/'num1'/'num2' " to the existing URL route</li><br></br>
            <li>Subtraction: add "/sub/'num1'/'num2' " to the existing URL route</li><br></br>
            <li>Multiplication: add "/mult/'num1'/'num2' " to the existing URL route</li><br></br>
            <li>Division: add "/divd/'num1'/'num2' " to the existing URL route</li><br></br>
        </ul>
    </body>
</HTML>